<div class="employee-details container">
    <div class="text-center">
        <h1>Employee Details</h1>
    </div>
    <div class="text-center">
        <div class="text-center mx-auto details">
            <div class="inner text-center">
                <div class="detail">
                    <h3>Employee id:</h3>
                    <h3>{{id}}</h3>
                </div>
                <div class="detail">
                    <h3>Employee Name:</h3>
                    <h3>{{name}}</h3>
                </div>
                <div class="detail">
                    <h3>Employee Position:</h3>
                    <h3>{{position}}</h3>
                </div>
                <div class="detail">
                    <h3>Employee Salary:</h3>
                    <h3>{{salary}}</h3>
                </div>
                <div class="detail">
                    <h3>Employee Office:</h3>
                    <h3>{{office}}</h3>
                </div>
            </div>
            <a  class="btn btn-outline-secondary" (click)="onEdit(id)"  >edit</a>
            <a  class="btn btn-outline-secondary" (click)="onDelete(id)"  >delete</a>
        </div>
    </div>
</div>


