.detail{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin: 20px;
}
.details{
    width:700px ;
    height: 500px;
    margin-left: 300px;
    border: rgb(90, 2, 39) 2px solid;
    border-radius: 20px;
}
.inner{
    width: 150px;
    margin: 30px;
}
.employee-details{
    margin: 30px;
}