<div class="row">
  <div class="col s12">
    <div class="card container bg">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter full name" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter position">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter location">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter salary">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="date" name="dateofjoining" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.dateofjoining" placeholder="Enter date of joining">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="date" name="dateofbirth" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.dateofbirth" placeholder="Enter date of birth">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="department" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.department" placeholder="Enter department">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="skills" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.skills" placeholder="Enter skills">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="leaves" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.leaves" placeholder="Enter leaves">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          