.loginform{
    border: black 1px solid;
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color:white;
    filter: drop-shadow(2px 1px 3px rgba(90, 89, 89, 0.986));
}
#login-button{
    
    margin-top: 20px;
    justify-content: center;
}
.labels{
    margin: auto;
    justify-content: center;
}
input[type="text"]{
    text-align: center;
}
input[type="password"]{
    text-align: center;
}
input[type="email"]{
    text-align: center;
}