.bg{
    background: linear-gradient(to right, #530530, #830439);
}
input{
    background-color: white !important;
    border-radius: 10px !important;
}
button{
    background-color: white !important;
}